/* Bootstrap Custom */
input[type]:focus, textarea:focus, button:focus {
  outline: none;
}

select:focus {
  outline: none;
  border-color: rgba(82, 168, 236, 0.8);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);

  /* for chrome */
  outline: 5px auto rgba(82, 168, 236, 0.6);
}
/* Bootstrap Custom End */

body {
  position: relative;
  background-color: silver;
}

.pull-top {
  position: absolute;
  top: 0;
  bottom: auto;
}

.pull-bottom {
  position: absolute;
  top: auto;
  bottom: 0;
}

.canvas {
  background-color: white;
  width: 100%;
  height: 768px;
}

.tag {
  position: absolute;
  border: solid 1px;
}

.nav-collapse form {
  margin-top: 5px;
}

form {
  margin-left: 10px;
}
